.contact-form{
    max-width: 460px;
}
.contact-form .form-control{
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--light-grey-color);
    border-radius: 35px;
    min-height: 66px;
    font-size: 22px;
    padding: 0 3rem;
    line-height: 66px;
    margin-bottom: 2.6rem;
    outline: none;
    font-family: inherit;
    font-weight: 200;
}
.contact-form textarea.form-control{
    resize: none;
}


    .contact-form .btn-groups{
        margin-top: 4.8rem;
    }
    .contact-form .btn-groups .btn-item{
        font-size: 1.6rem;
    padding: 1.4rem 2rem;
    }
    .contact-form .btn-groups .btn-item:first-child{
        border-color: var(--brown-color);
    }

    .contact-form .btn-groups .btn-item:last-child{
        border-color: var(--dark-color);
    }
    
    @media screen and (min-width: 768px){
        .contact-title{
            font-size: 40px;
        }
        .contact-form .btn-groups .btn-item{
            font-size: 2.2rem;
            padding: 1.4rem 3.4rem;
        }
    }

@media screen and (min-width: 992px){
    .contact-title{
        font-size: 48px;
    }
}